*{
    font-family: 'Cinzel', serif;
}
body{
    background-color: #2a7f62;
    display:block;
    text-align: center;
    

}

.nameLabel{
    display: none;
    align-items: center;
    text-align: left;
    
}

.balanceLabel{
    display: none;
    align-items: center;
    text-align: left;
}

.names{
    font-size: 24px;
    text-align: left;
}

#nameConfirmSystem{
    display: none;
    text-align: left;
}

#controls{
    display: none;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
}

p{
    color: #d62828;
    text-align: center;
}

h1{
    color: #d62828;
    text-align: center;
}

button{
    background-color: #fcbf49;
    color: #2a7f62;
    border-color: #d62828;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    float: center;
}

label{
    color:#fcbf49;
    text-align: center;
}


